*{
   margin:0;
   padding:0; 
   font-family: 'poppins', sans-serif;
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5), #009688),url(./Barber_Shop_img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.logo{
    width:140px;
    position: absolute;
    left:10%;
    top:4%
}
.banner-text{
    text-align: center;
    color:#fff;
    padding-top:170px
}
.banner-text h1{
    font-size: 130px;
   font-family: "Kaushan Script", cursive;
}
.banner-text p{
    font-size:20px;
    letter-spacing: 2px;
    font-style: italic ;
}
.banner-btn{
    text-align: center;
    margin-top:60px;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    color:#fff;
    border: 1px solid #fff;
    padding:10px 15px;
    margin:0 12px;
    font-size:20px;
    z-index: 1;
    position: relative;
    transition: color 0.5s;
}
.banner-btn a span{
    width:0%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background:#fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width:100%;

}
.banner-btn a:hover{
    color: #000;
}
#sideNav{
    width:200px;
    height:100vh;
    position:fixed;
    right: -200px;
    top:0;
    background:#009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin:50px 20px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:18px;
    font-family: 'Poiret One', cursive;
    transition: 0.5s;
}
#menu-btn {
   width:50px;
    height:50px;
    background-color: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top:20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menu-btn img{
    width:20px;
    margin-top: 15px;;
}

@media screen and (max-width:770px){
    .banner-text h1{
        font-size: 45px;
    }
    .banner-text p{
        font-size: 16px;
    }

}
@media screen and (max-width:480px){
    .banner-btn a{
        display: block;
        margin:20px auto;
    }
}

#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin:auto;
    font-size:20px;
    color:#009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content : '';
    width:50px;
    height: 35px;
    background:linear-gradient(#019587, #fff);
    position: absolute;
    left:0;
    top:-20px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size:50px;
    margin-top: 10px;
}
.feature-box{
    width:80%;
    margin:auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.features{
    flex-basis: 50%;
}
.features-img{
   flex-basis: 50%;
   margin:auto; 
}
.features-img img{
    width:80%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom:10px;
    font-weight: 100;
    color:#009688;
}
.features-desc{
    display:flex;
    align-items: center;
    margin-bottom:40px;
}
.feature-icon .fa{
    width:50px;
    height:50px;
    font-size: 30px;
    color:#009688;
    border:2px solid #009688;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
@media screen and (max-width:770px){
    .title-text h1{
        font-size:35px;

    }
    .features{
    flex-basis: 100%;
    }
    .features-img{
        flex-basis:100%;
        margin:auto;
    }

}
/* service */
#service{
    width: 100%;
    padding:70px 0;
    background:#efefef;
}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:auto;
}
.single-service{
    flex-basis:48%;
    text-align:center;
    border-radius:7px;
    margin-bottom: 20px;
    background:#fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    border-radius: 7px;
    background: linear-gradient(rgba(0,0,0,0.5), #009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width:80%;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%);
    color:#fff;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.service-desc hr{
    width:60px;
    border:1px solid #fff;
    margin:auto;
    margin-bottom: 10px;
}
.service-desc p{
    font-size: 14px;
}
.single-service:hover .service-desc{
    bottom:40%;
    opacity:1;
}
@media screen and (max-width:770px){
    .single-service{
        flex-basis:100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size:16px;
    }
    .service-desc h2{
        font-size:22px;
    } 
}

/* testimonial */
#testimonial{
    width: 100%;
    padding:70px 0;
}
.testimonial-row{
    width:80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testimonial-col{
    flex-basis: 28%;
    text-align: center;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow:0 10px 20px 3px #009688;
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin-top: 20px 0;
}
.user img{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right: 20px;
}
.user-info h4{
    font-size:18px;
    color:#009688;
    margin-bottom: 5px;
}
.user-info small{
    font-size: 14px;
    color:#777;
}

.testimonial-col:hover{
    transform: scale(1.2);
}

@media screen and (max-width:770px){
    .testimonial-col{
        flex-basis:100%;
    }
}
#footer{
    padding:100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-img{
    position:absolute;
    width: 400px;
    right: 50%;
    left: 30%;
    top: 50px;
    transform: translateX(-50%, -50%);
    opacity: 0.1;

}
.footer-row{
    width:80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    margin-bottom: 30px;
}
.footer-left h1, .footer-right h1{
    font-size: 20px;
    margin-bottom:20px;
}
.footer-left p, .footer-right p{
    font-size: 16px;
    color: #0c0b0b;
    line-height: 25px;
}
.footer-right{
    text-align: right;
}
.footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color:#009688;
    margin-right: 15px;
}
.social-media{
    text-align: center;
    margin-top: 40px;
}
.social-media a{
    text-decoration: none;
    color:#009688;
    font-size: 20px;
    margin: 0 10px;
    border: 1px solid #009688;
    padding:10px;
    border-radius: 10px;
    transition: color 0.5s;
}
.social-media a:hover{
    background:#009688;
    color:#fff;
}
.copyright{
    text-align: center;
    margin-top: 30px;
    font-size:14px;
    color:#777;
}

@media screen and (max-width:770px){
    .footer-left, .footer-right{
        flex-basis:100%;
        text-align: center;
    }
    .footer-right{
        text-align: center;
    }

}
